In [ ]:
import numpy as numpy
import pandas as pd
import scipy.

In [25]:
df = pd.read_csv('data/train.csv')
df.head()

   id     Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
0   0    male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   1  female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   2  female   51   161.0    64.0       7.0        84.0       39.8      29.0
3   3    male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   4  female   38   166.0    61.0      25.0       102.0       40.6     146.0

## Cleaning and Preprocessing

In [26]:
# Check data types
df.dtypes

id              int64
Sex            object
Age             int64
Height        float64
Weight        float64
Duration      float64
Heart_Rate    float64
Body_Temp     float64
Calories      float64
dtype: object

In [27]:
print('Number of missing values in each column')
print('-' * 50)
print(df.isna().sum(axis=0))

Number of missing values in each column
--------------------------------------------------
id            0
Sex           0
Age           0
Height        0
Weight        0
Duration      0
Heart_Rate    0
Body_Temp     0
Calories      0
dtype: int64

In [28]:
# Set 'id' as index
df = df.set_index(df['id']).drop('id', axis=1)
display(df.head())
df.shape

       Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
id
0     male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   female   51   161.0    64.0       7.0        84.0       39.8      29.0
3     male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   female   38   166.0    61.0      25.0       102.0       40.6     146.0

(750000, 8)

In [29]:
# Duplicates (without id)
df = df.drop_duplicates()
display(df.head())
df.shape

       Sex  Age  Height  Weight  Duration  Heart_Rate  Body_Temp  Calories
id
0     male   36   189.0    82.0      26.0       101.0       41.0     150.0
1   female   64   163.0    60.0       8.0        85.0       39.7      34.0
2   female   51   161.0    64.0       7.0        84.0       39.8      29.0
3     male   20   192.0    90.0      25.0       105.0       40.7     140.0
4   female   38   166.0    61.0      25.0       102.0       40.6     146.0

(747159, 8)

## EDA

In [ ]:
# Univariate insights